absl-py==0.11.0
albumentations==0.5.2
amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.1
astor==0.8.1
astunparse==1.6.3
billiard==3.6.4.0
cachetools==4.2.0
celery==5.0.5
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
cx-Freeze==6.6
cx-Logging==3.0
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
distlib==0.3.1
Django==3.1.7
easydict==1.9
et-xmlfile==1.1.0
facenet-pytorch==2.5.2
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.8.4
greenlet==1.1.0
grpcio==1.32.0
gym @ file:///D:/bld/gym_1644329089935/work
h5py==2.10.0
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543113403/work
imutils==0.5.4
insightface==0.1.5
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface==0.6
kiwisolver==1.3.1
kombu==5.0.2
llvmlite==0.36.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mip==1.13.0
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
mock==4.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.28
networkx==2.5
nmap==0.0.1
numpy @ file:///C:/ci_310/numpy_and_numpy_base_1643798589088/work
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
openpyxl==3.0.7
opt-einsum==3.3.0
pandas==1.2.0
Pillow==8.1.0
prompt-toolkit==3.0.18
protobuf==3.14.0
PuLP==2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyparsing==2.4.7
pyschedule==0.2.34
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
schedule==1.1.0
scikit-image==0.18.1
scikit-learn==0.24.0
scipy==1.6.0
Shapely==1.7.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
SQLAlchemy==1.4.14
sqlparse==0.4.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==2.1.0
tifffile==2021.1.14
torch==1.8.1
torchvision==0.9.1
tqdm==4.60.0
twilio==7.8.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.2
vine==5.0.0
virtualenv==20.4.2
wcwidth==0.2.5
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
